.body {
    overflow: hidden!important;
}

.marginBottom {
    padding-bottom: 2rem;
}

.additional-link {
    .marginTopBot {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }

    p {
        display: inline-block;
        width: fit-content;
        margin-right: 7px;
        margin-bottom: .5rem;
        padding: 1px 5px;
        border: 1px solid white;
        border-radius: 6px;
        transition: .2s ease-out;
        font-size: .90rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        &:hover {
            border: 1px solid tomato;
            background-color: #1A202C;
        }
    }

}

.subject-heading {
    text-transform: uppercase;
    padding-top: 1rem;
    font-size: .70rem;
}

h1 {
    font-size: 32px!important;
}