.show-info-more-card {
    min-width: 320px;
    height: fit-content;
    background: #1A202C;
    box-shadow: -15px -15px 30px #151a24,
        15px 15px 30px #1f2634;
    border-radius: 10px;

    h2 {
        margin-top: 1.5rem;
        color: tomato;
        font-size: 1.4rem;
        font-family: 'muli', sans-serif;
        text-align: center;
    }

    .show-info-more-container {
        padding: 0 0 35px 20px;


        p {
            color: rgb(185, 185, 185);
            font-family: 'muli', sans-serif;
        }

        .show-production-companies {

            img {
                width: 100%;
                max-width: 150px;
                margin-top: .5rem;
                padding: 10px;
            }
        }
    }


    @media (max-width: 700px) {
        width: 100%;
    }
}