.screenplay-reviews-container {
    margin-top: 1rem;
    overflow: hidden;
    height: 300px;
    transition: .3s linear;

    &.active {
        height: 98%;
    }


    h1 {
        font-size: 1.2rem;
        font-family: 'muli', sans-serif;
    }
}

.review-box {
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    // max-width: 350px;
    // min-height: 90%;
    overflow: hidden;
    background-color: #232938;
    position: relative;

    p {
        padding: .5rem 1rem;
    }

    .review-text {
        padding: .5rem 1rem;
        // max-width: 991px;
        color: #bcbcbc;
        padding-right: 10%;
    }

    .review-user-info {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        padding: 1rem .7rem;
        background-color: #141821;
        height: 125px;

        span {
            position: absolute;
            bottom: 5px;
            right: 10px;
            font-size: .8rem;
        }

        
        
        .review-user-image {
            max-width: 85px;
            clip-path: circle();
            
            .blank-avatar {
                width: 85px;
                height: 85px;
                border-radius: 200px;
                background: tomato;
                opacity:.8;
            }
            
            img {
                width: 100%;
                object-fit: cover;
                
            }
        }
        
        .author-container {
            h3 {
                align-self: center;
                font-size: 1.1em;
                font-weight: 600;
            }
            h6 {
                font-weight: 100;
                line-height: 1;
            }
        }

        .review_rating {
            background: rgba(0, 0, 0, 0.9);
            color: tomato;
            padding: 0;
            line-height: 1;
            width: 50px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border-radius: 5px;
        }
    }

    .read_more_excerpt {
        position: absolute;
        bottom: .5rem;
        left: .5rem;
    }

    .read_less_excerpt {
        padding-left: .65rem;
        line-height: 2;
    }

    @media (max-width: 700px) {
        max-width: 100%;
    }
}

.text_excerpt_overlay {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9976191160057774) 100%);
    }
}

.allreviews_excerpt_overlay {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9976191160057774) 100%);
        z-index: 1;
    }
}

.see_more_reviews {
    text-decoration: underline;
    cursor: pointer;
}