.screenplay-reviews-container {
    display: flex;
    position: relative;
    gap: 2rem;
    margin-top: 5rem;
    h1 {
        position: absolute;
        top: -2rem;
        font-size: 1.2rem;
        font-family: 'muli', sans-serif;
    }
    @media (max-width: 700px) {
        flex-wrap: wrap;
    }
}

.review-box {
    border-radius: 8px;
    margin-top: 1rem;
    width: 100%;
    max-width: 350px;
    height: fit-content;
    overflow: hidden;
    background-color: #232938;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .5);
    .review-text {
        padding: .5rem 1rem;
    }
    .review-user-info {
        position: relative;
        display: flex;
        margin-bottom: 1rem;
        padding: 1rem 0;
        background-color: #141821;
        span {
            position: absolute;
            bottom: 5px;
            right: 10px;
            font-size: .8rem;
        }
        h3 {
            align-self: center;
        }
        img {
            width: 100%;
            max-width: 100px;
            height: 100%;
            max-height: 60px;
            clip-path: circle();
            // margin-left: -1rem;
        }
    }
    @media (max-width: 700px) {
        max-width: 100%;
    }
}