.show-thumbnail-wrapper {
    position: relative;
    height: fit-content;

    .network-banner {
        position: absolute;
        background-color: rgba(20, 24, 33, .8);
        width: 100%;
        text-align: center;
        bottom: 0;
        padding: 1rem;

        div > img {
            margin-inline: auto;
            max-width: 100px;
        }
    }
}

.playBtn.disabled {
    background-color: #707070;
    pointer-events: none;
}