.actor-thumbnail-block {
    margin-inline: auto;
    max-width: 250px;
    min-width: 200px;
    background-color: #141821;
    border-radius: 6px;
}

.actor-thumbnail-img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.actor-thumbnail-description {
    padding: 5px;

    h3 {
        color: tomato;
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
    span {
        color: grey;
        font-size: 0.7rem;
    }
}