.actor-thumbnail-block {
    max-width: 150px;
    background-color: #141821;
    border-radius: 6px;
}

.actor-thumbnail-img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.actor-thumbnail-description {
    color: tomato;
    font-size: 13px;
    padding: 5px
}