.actor-thumbnail-block {
    max-width: 150px;
    background-color: #141821;
    border-radius: 6px;
}

.actor-thumbnail-img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.actor-thumbnail-description {
    padding: 5px;
}

.actor-thumbnail-description h3 {
    color: tomato;
    font-size: 14px;
}

.actor-thumbnail-description p {
    font-size: 11px
}