main.trending_container {

    @media (max-width: 991px) {
        margin-inline: 0;
        padding-inline-end: 0;
        padding-inline-start: 0;
        width: 100%;
    }
}

.trending_splider {
    margin-top: -5rem;
    margin-bottom: 3rem;

    &>div {
        border-radius: 0 0 15px 15px;
    }

    .splide__pagination {
        button {
            opacity: .3;
            width: 5px;
            height: 5px;
        }
    }


    .trending_slide {
        height: 550px;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 80%);
            z-index: 1;
        }

        .trending_slide_content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 4rem;
            z-index: 10;
            position: relative;
            h2.trending_slide_title {
                font-size: 36px;
                line-height: 1;
                padding-bottom: 1rem;
            }
            .trending_slide_overview {
                font-size: 14px;
                @media (min-width: 991px) {
                    max-width: 800px;
                }
            }
        }
    }
}