
.movie-thumbnail-grid-title {
    font-size: 2rem;
    font-family: 'muli', sans-serif;
    margin-bottom: 3.5rem;
    text-align: center;
}

.movie-thumbnail-grid-title-pre {
    display: block;
    font-size: 1rem;
}