@keyframes render {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.thumbnail-grid-wrap {
    // animation: render 1s linear;
}

.thumbnail-grid-title {
    font-size: 2rem;
    font-family: 'muli', sans-serif;
    margin-bottom: 3.5rem;
    text-align: center;
}

.thumbnail-grid-title-pre {
    display: block;
    font-size: 1rem;
}