@import url(//fonts.googleapis.com/css?family=Vibur);

.header-title {
  

    @media (max-width: 500px) {
      font-size: .75rem;
    }
  
}

.tv-button {
  border-radius: 50px;
  padding: 7px 20px;
  border: 1px solid tomato;
}

