@import url(//fonts.googleapis.com/css?family=Vibur);

.header-title {
  // max-width: 45px;

  svg {
    width: 100%;

  }

  @media (max-width: 500px) {
    font-size: .75rem;
  }

}

.hslide {
  display: block;
  position: absolute;
  width: 80px;
  height: 100%;
  bottom: 0;
  left: 0;
  background: tomato;
  border: 2px solid tomato;
  transition: .7s cubic-bezier(.93,-0.83,0,1.51);
  opacity: 0;
  border-radius: 10px;
  z-index: -1;
}

ul.header-navigation {
  position: relative;
  list-style: none;
  align-self: center;
  display: flex;

  a {
    display: block;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 6px;
    line-height: 1;
    font-size: 1.1em;
    -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  }

  a.active {
    // color: tomato;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 900;
    transition: .2s ease-in;
    transition-delay: .3s;
  }

  a:nth-child(1).active~.hslide {
    left: 0;
    opacity: 1;
  }

  a:nth-child(2).active~.hslide {
    left: 90px;
    opacity: 1;
  }

  a:nth-child(3).active~.hslide {
    left: 180px;
    opacity: 1;
  }
}