@import url(//fonts.googleapis.com/css?family=Vibur);

.header-title {
  

    @media (max-width: 500px) {
      font-size: .75rem;
    }
  
}

.header-navigation {
  list-style: none;
  align-self: center;
  display: flex;
  gap: 1.3rem;
  li:last-child {
    border-left: 2px solid tomato;
    padding-left: 1.3rem;
  }
}

