:root {
  --ff-w1: 'muli', sans-serif;
}

.thumbnail-block {
  border-radius: 10px;
  background-color: #141821;
  box-shadow: 0px 1px 9px #000000;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  max-width: 400px;
  
  .thumbnail-img-wrap {
    overflow: hidden;
    img {
      // border-radius: 6px 6px 0 0;
      overflow: hidden;
      transition: 0.2s ease-out;
      &:hover {
        filter: saturate(1.5);
        transform: scale(1.1);
      }
        @media (max-width: 700px) {
            width: 100%;
        }
    }
  }

}

.thumbnail-description {
  padding: 2px 40px 8px 8px;
  position: relative;
  flex-grow: 1;

  h3 {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.1;
    color: tomato;
    
  }

  a {
    &:hover {
      h3 {
        color: #dedede;
      }
    }
  }

  .thumbnail-year {
    font-size: 11px;
  }

  .thumbnail-og-title {
    font-size: 10px;
    font-weight: 600;
  }

  .average-score {
    margin-right: 0;
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}


