 .search-section {
    position: fixed;
    top: 58px;
    width: 100%;
    padding: 1rem 0 .66rem 0;
    background-color: #1A202C;
    box-shadow: 0px 4px 20px black;
    z-index: 150;

    @media (max-width: 500px) {
      top: 52px;
    }
  } 