$cubic-bezier: .25s cubic-bezier(0.4, 0, 0.2, 1);

@mixin transition() {
    -webkit-transition: all $cubic-bezier;
    transition: all $cubic-bezier;
}

.movie-header-poster {
    min-width: 300px;
}

.movie-header-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.4);
    margin-top: -10rem;
    margin-bottom: 3rem;

    .movie-thumbnail-block {
        box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.9);
        &:hover {
            transform: none;
        }
        img {
            filter: none;
        }
    }

    @media (max-width: 640px) {
        margin-top: -14rem;
    }
}

.movie-header-flex-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 5.5rem;
    .movie-thumbnail-block {
        background-color: transparent;
        min-width: 280px;
    }

    @media (max-width: 640px) {
        flex-wrap: wrap;
    }
}

.movie-header-filter {
    background-color: rgba(26, 32, 44, 0.90);
}

.movie-header-description-container {
    font-family: 'muli', sans-serif;
    max-width: 50%;
    min-width: 200px;

    h1 {
        color: rgb(250, 84, 54);
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 2.6rem;
    }

    @media (max-width: 900px) {
        max-width: 100%;
    }
}

.movie-header-description {
    font-size: 0.85rem;
    button {
        display: inline-flex;
        position: relative;
        top: 1.15rem;
        margin-left: 2rem;
        justify-content: center;
        align-items: center;
        gap: 1.1rem;
        background-color: #dc442d;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
        padding: .80rem 1.45rem .65rem 1.3rem;
        border-radius: 6px;
        border: 1px solid transparent;
        svg {
            @include transition();
            font-size: 1.5rem;

            &:nth-child(1) {
                opacity: 1;
            }

            &:nth-child(2) {
                opacity: 0;
                position: absolute;
                left: 24px;
            }
        }

        &:hover,
        &:active {
            background-color: #1A202C;
            border: 1px solid #dc442d;
            transition: $cubic-bezier;
            svg {
                &:nth-child(1) {
                    opacity: 0;
                    transform: scale(1.9);
                }

                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }
}

.movie-header-description-release {
    margin-bottom: .8rem;
    font-size: 1.15rem;
}

.movie-header-description-overview {
    margin: 2rem 0;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.marginBottom {
    padding-bottom: 2rem;
}

.additional-link {
    .marginTopBot {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }
    p {
        display: inline-block;
        width: fit-content;
        margin-right: 7px;
        margin-bottom: .5rem;
        padding: 1px 5px;
        border: 1px solid white;
        border-radius: 6px;
        transition: .2s ease-out;
        font-size: .90rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        &:hover {
            border: 1px solid tomato;
            background-color: #1A202C;
        }
    }

}

.subject-heading {
    text-transform: uppercase;
    padding-top: 1rem;
    font-size: .70rem;
}

.video-container {
    iframe {
        width: 100%;
        min-width: 350px;
        height: 360px;
        border-radius: 10px;
    }
}



