.movie-header-poster {
    min-width: 300px;
}


.movie-header-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.movie-header-flex-container {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    @media (max-width: 700px) {
        flex-wrap: wrap;
    }
}

.movie-header-filter {
    background-color: rgba(0, 29, 110, .85);
}

.movie-header-description-container {
    max-width: 50%;
    min-width: 200px;

    h1 { 
        color: tomato;
    font-size: 2rem;
    font-weight: 700;
    }

    @media (max-width: 900px) {
        max-width: 100%;
        
    }
}

.movie-header-description {
    // margin-top: 3rem;
    font-size: .85rem;

}

.movie-header-description-release {
    margin-bottom: 2rem;
    font-size: 1.15rem;
}

.movie-header-description-overview {
    margin: 2rem 0;
}
